<div class="container">
    <div class="title">
    <h2>Demande de quotation à traiter</h2>
        <div class="main-quotation" *ngIf="mainQuotation">
            <img [src]="mainQuotation.imageUrl" class="card-img">
            <div class="card-content">
                <p class="card-text">{{ mainQuotation.message }}</p>
                <input type="number" [(ngModel)]="estimatedPrice" placeholder="Estimation de prix">
                <button (click)="submitPrice(mainQuotation)">Valider</button>
            </div>
        </div>
    </div>  
    
    <div class="title2">
    <h3>Liste des quotations en attente</h3>
        <div class="quotations-list">
            <div class="card" *ngFor="let quotation of otherQuotations">
            <img [src]="quotation.imageUrl" class="card-img">
                <div class="card-content">
                    <p class="card-text">{{ quotation.message }}</p>
                    <p class="card-status">Statut : {{ quotation.status }}</p>
                </div>
            </div>
        </div>
    </div>
</div>