<div class="topbar">
  <div class="logo" (click)="onLogoClick();">
    <p class="title-site-logo">QYC</p>
  </div>
    <div class="actions">
        <ng-container *ngIf="!isLoggedIn" >
            <button class="button" routerLink="/login" (click)="onClickLogin();">Se connecter</button>
            <button class="button" routerLink="/signup" (click)="onClickSignup();">S'inscrire</button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn" >
            <button class="button" (click)="logout()">Déconnexion</button> 
        </ng-container>
    </div>
</div>
