<!-- <app-topbar></app-topbar>  
    <div class="container-homepage">
    <h1>Bienvenue sur , Quote Your Car</h1>
    <h2> Connectez vous pour recevoir une quotation de votre véhicule</h2>
    <div class="container-homepage-btn">
        <button class="button" routerLink="/login" (click)="onClickLogin();">Se connecter</button>
        <button class="button" routerLink="/signup" (click)="onClickSignup();">S'inscrire</button>
    </div>
    <div class="image-logo">
        <img src="../../../assets/logo.png" class="image-logo_logo" alt="Logo de l'application">
    </div>
</div>-->
<p>homepage works</p>
